---
const today = new Date();
import {COMMIT_HASH, BUILD_DATE} from "astro:env/server";
---
<footer class="footer">
	<nav class="navbar" role="navigation">
		<a class="navbar-item" href="/legal">Impressum</a>
		<a class="navbar-item" href="/privacy">Datenschutz</a>
	</nav>
	<p>&copy; {today.getFullYear()} Friedrich Zimniak <span>Version {COMMIT_HASH}, generiert am {new Intl.DateTimeFormat("de-de", {dateStyle: "short", timeStyle: "medium", timeZone: "Europe/Berlin"}).format(BUILD_DATE)}</span></p>
</footer>
<style lang="scss">
	footer {
		background-color: var(--primary-background);
		padding: 1rem 1.1rem;
		z-index: 20;
		color: #efefef;
	}

	footer nav {
		color: var(--primary-text);
	}

	p > span {
		float: right;
	}
</style>