---
import {execSync} from "node:child_process";
const today = new Date();
const commitHash = execSync("git rev-parse --short HEAD").toString().trim();
---
<footer class="footer">
	<nav class="navbar" role="navigation">
		<a class="navbar-item" href="/legal">Impressum</a>
		<a class="navbar-item" href="/privacy">Datenschutz</a>
	</nav>
	<p>&copy; {today.getFullYear()} Friedrich Zimniak <span>Version {commitHash}, generiert am {new Intl.DateTimeFormat("de-de", {dateStyle: "short", timeStyle: "medium", timeZone: "Europe/Berlin"}).format(today)}</span></p>
</footer>
<style lang="scss">
	footer {
		background-color: var(--primary-background);
		padding: 1rem 1.1rem;
		z-index: 20;
		color: #efefef;
	}

	footer nav {
		color: var(--primary-text);
	}

	p > span {
		float: right;
	}
</style>