---
const {href} = Astro.props;
const active = href ? href == Astro.routePattern : false;
---
{href ? 
    (<a class:list={["navbar-item", active && "is-selected"]} href={href}><slot/><span></span></a>) : 
    (<p class:list={["navbar-item", active && "is-selected"]}><slot/><span></span></p>)
}
<style>
    .navbar-item {
        position: relative;
		display: flex;
        width: 100%;
        user-select: none;
        color: var(--primary);
        line-height: 1.5;
    
        i {
            margin-right: 8px;
        }
    }

    .navbar-item > svg {
        max-height: 1.75rem;
    }

    .navbar-item:hover {
        background-color: inherit;
    }

	.navbar-item.is-selected {
		background-color: inherit;
	}

    .navbar-item span {
        width: 0;
        margin-top: 4px;
        border-bottom: 2px solid var(--primary);
        transition: width 0.5s;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .navbar-item.is-selected span, .navbar-item:hover span {
        width: 100%;
        padding: inherit;
    }
</style>