---
import Footer from '../components/Footer.astro';
import Skeleton from './Skeleton.astro';

import "../styles/base.scss";

import BrandIcon from '../components/BrandIcon.astro';
import NavLink from '../components/NavLink.astro';
import NavDropdown from '../components/NavDropdown.astro';

const { title, description } = Astro.props;
---
<Skeleton title={title} description={description}>
	<input class="toggle-switch-chk" name="toggle-stars" id="toggle-stars" type="checkbox" checked="checked">
	<label class="toggle-switch" for="toggle-stars" aria-label="Sterne ein/ausschalten"><i class="icon">moon_stars</i></label>
	<div class="star-container">
		<div class="stars" id="stars-1"></div>
		<div class="stars" id="stars-2"></div>
		<div class="stars" id="stars-3"></div>
	</div>
	<main class="container pure-g">
		<section class="pure-u-1 pure-u-md-1-3">
			<h1 class="title">Friedrich Zimniak</h1>
			<h2 class="subtitle">Softwareentwickler</h2>
			<div class="main-navs">
				<nav id="main-nav" class="navbar" role="navigation">
					<NavLink href="/"><i class="icon">person</i>Über Mich</NavLink>
					<NavLink href="/projects"><i class="icon">sdk</i>Projekte</NavLink>
					<NavDropdown>
						<Fragment slot="opener"><i class="icon">contact_mail</i>Kontakt</Fragment>
						<div id="contacts">
							<p class="navbar-item"><i class="icon">email</i><a href="mailto:work@frizim.com" aria-label="E-Mail-Adresse">work@frizim.com</a></p>
							<p class="navbar-item"><i class="icon">key</i>GPG: <a href="https://openpgpkey.frizim.com/.well-known/openpgpkey/frizim.com/hu/hj4q795sttt3cnrqa5io184m6uk8icxy">0AB1 C30B E250 04E6 1C62 7DD9 CAE1 EB3D F94B 9EBB</a></p>
						</div>
					</NavDropdown>
				</nav>
				<nav class="navbar is-text-centered is-justify-content-center">
					<a class="navbar-item" href="https://github.com/frizim" aria-label="GitHub" rel="noopener" target="_blank"><BrandIcon width="28" icon="github-icon" color="var(--navbar-item-color)" /></a>
					<a class="navbar-item" href="https://keyoxide.frizim.com" aria-label="GPG-Keys"><BrandIcon width="28" icon="gnupg-icon" color="var(--navbar-item-color)" /></a>
					<a class="navbar-item" href="https://www.linkedin.com/in/friedrich-z" aria-label="LinkedIn" rel="noopener" target="_blank"><BrandIcon width="28" icon="linkedin-icon" color="var(--navbar-item-color)" /></a>
				</nav>
			</div>
		</section>
		<section class="pure-u-1 pure-u-md-2-3">
			<slot/>
		</section>
	</main>
	<Footer />
</Skeleton>