---
import FormattedDate from "../../../../components/FormattedDate.astro";
import { MESSAGES_DIR } from "../../../../config";
import Page from "../../../../layouts/Page.astro";
import { readFile } from "node:fs/promises";

export const prerender = false;

interface Message {
    id: string,
    email: string,
    created: string,
    message: string
}

if(!Astro.params.id && !Astro.params.form) {
    return;
}

const message = JSON.parse((await readFile(MESSAGES_DIR + "/" + Astro.params.form + "/" + Astro.params.id + ".json")).toString()) as Message;
---
<Page title="Nachricht">
    <p>ID: {message.id}</p>
    <p>Von: {message.email}</p>
    <p>Erstellt am: <FormattedDate date={new Date(message.created)}></p>
    <pre>
        {message.message}
    </pre>
</Page>