---
import FormattedDate from "../../../../components/FormattedDate.astro";
import { MESSAGES_DIR } from "../../../../config";
import Page from "../../../../layouts/Page.astro";

export const prerender = false;

if(!Astro.params.id && !Astro.params.form) {
    return;
}

const message = await import(MESSAGES_DIR + "/" + Astro.params.form + "/" + Astro.params.id + ".md");
---
<Page title="Nachricht">
    <p>ID: {message.id}</p>
    <p>Von: {message.frontmatter.email}</p>
    <p>Erstellt am: <FormattedDate date={new Date(message.frontmatter.created)}></p>
    <pre>
        {message.compiledContent}
    </pre>
</Page>